* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: black;
}
.App {
  max-width: 263px;
    max-height: 600px;
background-color: black;
  color: white;
  border-radius: 20px;
  padding: 25px;
  margin: 50px auto;
  box-shadow:0px -4px 1px whitesmoke, 0px 0px 3px darkgrey, 0px 6px 1px whitesmoke, 0px 0px 2px darkgrey
  
}
.top {
  max-height: 70px;
position:relative ;
bottom: 17px;
right: 12px;
  font-size: 11px;
}
.top::after{
  content: "";
  position: absolute;
  left:214px;
  top: 1px;
  border-radius: 50%;
  width:22px; 
  height:22px;
  background:black;
  border: 1px solid rgb(34, 32, 32);
  box-shadow:0px 0px 1px  rgb(8, 8, 8)
  , 0px 0px 3px  rgb(68, 67, 67)
  ;
}
.display {
  font-size: 50px;
  margin-bottom: 5px;
  position: relative;
  top: 130px ;
  font-weight: lighter;
  text-align: right;
  overflow: hidden;
  direction: ltr ;

}
.button {
  margin-top: 150px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.buttom{
  color: transparent;
  text-align: center;
  width: 40px;
  height: 40px;
  background:rgb(3, 3, 3);
  border: 1px solid rgb(34, 32, 32);
  /* box-shadow:0px 0px 2px  rgb(8, 8, 8) */
  /* , 0px 0px 13px  rgb(27, 26, 26) */
  /* ; */
      border-radius: 50%;
      margin: 0   auto;
      
      position: relative;
    top: 13px;

}
